body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px
}

main{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.friendstop ul{
    float: left;
    padding: 0px;
    margin: 0px;
    margin-top: 25px;
    overflow: hidden;
    display: flex;

}

.friendstop input[type=text] {
    padding-right: 200px;
    margin-left: 20px;
    /* border: none; */
}

.navbar ul{
    list-style-type: none;
    background-color: #6635A3;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar input[type=text] {
    float: left;
    padding: 15px;
    padding-right: 33.3%;
    margin: 10px
}



.navbar a{
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center
}

.navbar a:hover{
    background-color: #482574;
}


.navbar li{
    float: right;
}


